body {
    margin: 0;
    padding: 0;
    background: #dddddd;
}

#frontpage {
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #555;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
}